page-where-use-it {
  ion-label {
    display: block;
    overflow: initial;
     text-overflow: clip;
    white-space: initial;
  }
  ion-content{
    background: url('../assets/imgs/login_background.png') center no-repeat;
    background-size: cover;
  }
  .item-block {

    background-color: rgba(37, 55, 70, 0.73);
  color: #ffffff;
  }
  ion-list{
    margin-bottom: 0;
  }

  ion-list.list {
    margin-bottom: 0 !important;
  }

}
