page-login {
  .Login_slider {
    background: url('../assets/imgs/login.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .select_lang {
    background-color: rgba(37, 55, 70, 0.45);
    padding: 5%;
    margin: 0 5%;
    border-radius: 29px;
    border: solid 16px rgba(255, 255, 255, 0.01);
    box-shadow: 2px 4px 9px #9ca5ac;
  }
  .Login_slider:after,
  .Login_slider:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 0;

    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);

  }
  .welcom_area {
    padding: 0 10px;
    color: #fff;
  }
  .register_form ion-list .item-md,
  .login_form ion-list .item-md {
    background-color: transparent !important;
  }
  .register_form input,
  .register_form select,
  .login_form input,
  .login_form select{
    border-radius: 50px !important;
    border: solid 1px #fff !important;
    padding: 7px 14px !important;
    color: #fff;
    background-color: rgba(228, 237, 245, 0.55) !important;
  }
  .register_form .list-md .item-block .item-inner,
  .login_form .list-md .item-block .item-inner {
    border-bottom: 0 !important;
  }
  .register_form .item.item-block.item-md.item-input.item-input-has-focus .item-inner ,
  .login_form .item.item-block.item-md.item-input.item-input-has-focus .item-inner {
    border-bottom: 0 !important;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .item.item-block.item-md.item-input.ng-pristine.ng-touched.ng-invalid.input-has-focus.item-input-has-focus:last-child,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  .list-md .item-input:last-child{
    border-bottom:  0px !important;
  }
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: transparent !important;
    box-shadow: none !important;
  }

  .register_form .item-md .item-button ,
  .login_form .item-md .item-button {
    height: 37px !important;
  }
  .register_form ion-list ,
  .login_form ion-list {
    margin-bottom: 0px !important;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #676767 !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f8f8f8 !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #676767 !important;
  }
  .header-md::after {
    background-image: none !important;
  }

  .register_form,
  .login_form {
    position: absolute;
    top: 5%;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .select-md .select-icon .select-icon-inner,
  .select-text {
    color: #263746;
  }
  .item-select .label{
    color: #263746 !important;
  }
  .error{
    color: red;
    padding: 0 10%;
  }
}
