page-question-details {
  ion-card.card.card-md {
    background-color: #f8f8f8;
  }
  .card-title {
    color: #44739a;
    font-size: 20px;
    /* background-color: #FFF; */
  }
  .card-md p {
    color: #253746;
    font-size: 18px;
  }
}
