page-profile {
  .card-header-ios,
  .card-header-md {
    background-color: #f8f8f8;
    padding: 8px 16px !important;
  }

  .header-md::after{
    background-image: none !important;
  }
  .profile_header {
    background: url(../assets/imgs/header-profile.png) center no-repeat;
    padding: 6%;
    color: #fff;
    position: relative;
    height: 40%;
    margin-bottom: 20px;
    background-size: cover;
  }
  p.em_note {
    color: #f8ac59;
    padding-top: 5px;
  }
  .edit_profile{
    position: absolute;
    left: 30%;
    bottom: -8%;
    right: 30%;
  }
  .edit_profile  button {
    background-color: #f8f8f8 !important;
  }
  .toolbar-md {
    min-height: 60px;
  }
  .list-ios > .item-block:last-child,
  .list-ios > .item-block:first-child{
    border: none !important;
  }

}
