<ion-header>

  <ion-navbar color="dark">
   <ion-buttons end>
      <button  ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{"profile" | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div class="profile_header" text-center>
    <img [(src)]="myProfile.ImageUrl" onerror="this.src='assets/imgs/user.png'" width="60" height="60">
    <h2>{{myProfile.FirstName}} {{myProfile.Lastname}}</h2>
    <p>
      <ion-icon item-start name="call"></ion-icon> &nbsp;{{myProfile.PhoneNumber}}
    </p>
    <div class="edit_profile" text-center>
      <button color="dark" round outline ion-button icon-start (click)="onGoToEditPage()">
        <ion-icon name="cog"></ion-icon>
        {{"edit" | translate}}
      </button>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      {{"personal_info" | translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <h3>{{"gender" | translate}}</h3>
          <p>{{myProfile.Gender | translate}}</p>
        </ion-item>
        <ion-item>
          <h3>{{"birthday" | translate}}</h3>
          <p>{{myProfile.Birthday}}</p>
        </ion-item>
        <ion-item>
          <h3>{{"language" | translate}}</h3>
          {{myProfile.Language | translate}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      {{"emergency_number" | translate}}
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="emergencyNumberList.length > 0 ">
        <ion-item *ngFor="let num of emergencyNumberList; let i = index">
          <h3>{{num.FirstName}} {{num.LastName}}</h3>
          <p>{{num.PhoneNumber}}</p>
        </ion-item>
      </ion-list>
      <div *ngIf="emergencyNumberList.length == 0 " text-center>
        <div class="note-emergency">
          <p class="em_note">
            {{"emergency_note" | translate}}
          </p>
        </div>
        <button ion-button icon-start color="dark" outline (click)="onAddNewContact()">
          <ion-icon name="person-add"></ion-icon>
          {{"add_Contact" | translate}}
        </button>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
