page-home {
#map{
  min-height: 500px;
  height: -webkit-fill-available !important;
}
  /*ion-fab[middle] {
    margin-top: -36px;
    top: 82%;
  }*/



  /*fabs center custom*/
  /*ion-fab[center]{
    margin-right: -50px !important;
  }*/



  button.fab.fab-ios.fab-ios-danger ,
  button.fab.fab-md.fab-md-danger {
    width: 100px;
    height: 100px;
  }


}
