<!--<ion-header>

  <ion-navbar>
    <ion-title>tutorial</ion-title>
  </ion-navbar>

</ion-header>-->

<ion-content class="modal-custom-bg" has-bouncing="false" (click)="startTutorials()">
  <div class="background-tutorial">
    <div class="close-modal">
      <button color="light" ion-button clear block text-center (click)="onCloseModal()">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
      </button>
    </div>

  </div>
  <div class="descrption_area_tut">
    <div *ngIf="step==0" class="welcome_descrption">
      <h2>{{"Welcome"| translate}}</h2>
      {{"Tutorials_welcom_message" | translate}}
      <br>
      {{"click_any_whare" | translate}}
    </div>

    <div *ngIf="step==2" class="silnt_descrption">
      {{"silnt_descrption" | translate}}
    </div>
    <div *ngIf="step==1" class="oneClick_descrption">
      {{"one_Click_tutorials" | translate}}
    </div>
    <div *ngIf="step ==3" class="call_descrption">
      {{"call_descrption" | translate}}
    </div>
  </div>
  <ion-fab bottom right >
    <button ion-fab [disabled]="step !=2">
      <img src="assets/imgs/Icon-notalk.png">
    </button>
    <ion-fab-list side="top">
      <button disabled *ngFor="let op of fabslist" ion-fab color="primary">
      <img src="{{op.imgSrc}}" width="80">
    </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab [disabled]="step !=3">
      <img src="assets/imgs/Icon-talk.png">
    </button>
    <ion-fab-list side="top">
      <button disabled *ngFor="let op of fabslist" ion-fab color="primary">
        <img src="{{op.imgSrc}}" width="80"></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom center >
    <button [disabled]="step !=1" ion-fab color="danger"><img src="assets/imgs/Icon-112.png" width="80"></button>
  </ion-fab>
</ion-content>
