page-add-sos-number {
 .note-emergency{
   background-color: #f1f1f1;
   padding: 3%;
   text-align: -webkit-center;
   margin: 4%;
   border-radius: 2px;
   border: 1px solid #e0e0e0;
   color: #d6760c;
 }
  .validate_note{
    color: #ed5565 !important;
    font-size: 10px !important;
  }

}
